
<!doctype html>
<html lang="en">
  <head>
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'top-announcement-bar' %}
    {{ content_for_layout }}
  </body>     
</html>
